.moviesItemPage {

  &__inner {
    padding: 200px 0 30px 50px;

    @include media(576) {
      padding: 50px 0 30px 0;
    }


    &__header {
      display: flex;
      flex-direction: column;
      position: relative;

      @include media(1000) {
        align-items: center;
      }

      &-black {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(90deg, #000 4.69%, rgba(0, 0, 0, 0.20) 33.85%, rgba(0, 0, 0, 0.00) 68.23%);
      }

      &-bg {
        position: absolute;
        top: -99px;
        right: 0;
        z-index: -10;
        width: 1185px;
        height: 630px;
        object-fit: cover;
        filter: blur(10px);

        @include media (1300) {
          display: none;
        }
      }


      &-desc {
        @include media(572) {
          max-width: 300px;
          width: 100%;
        }

        &-title {
          color: #FFF;
          font-size: 50px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          @include media(1000) {
            text-align: center;
            font-size: 30px;
          }

        }

        &-text {
          color: #FFF;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          max-width: 930px;
          margin: 28px 0;

          @include media(1365) {
            max-width: 500px;
          }

          @include media(1000) {
            text-align: center;
            font-size: 15px;
          }

          @include media(572) {
            margin: 0 auto;
            margin: 25px 0;
          }
        }

        &-date {
          color: rgba(255, 255, 255, 0.60);
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 30px;
          margin-bottom: 100px;

          @include media(1000) {
            text-align: center;
          }
        }

        &-mainChar {
          margin-top: 70px;

          @include media(1000) {
            gap: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        &-btn {
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          border: none;
          outline: none;
          border-radius: 10px;
          background: #149A03;
          color: #FFF;
          text-align: center;
          font-size: 20px;
          font-weight: 400;
          line-height: 30px;
          transition: 300ms;

          @include media(1000) {
            align-self: center;
            margin: 0 auto;
            font-size: 15px;
          }
        }

        &-btn:hover {
          background: #006200;
        }

      }

      &-actors {
        display: flex;
        gap: 15px;
        margin-top: 30px;
        align-self: center;
        flex-wrap: wrap;

        @include media(1240) {
          max-width: 1000px;
          width: 100%;
        }

        @include media(500) {
          justify-content: center;
        }

        &-item {
          border-radius: 25px;
          border: 1px solid #FFF;
          background: rgba(20, 20, 20, 0.50);
          display: flex;
          align-items: center;
          gap: 10px;
          padding-right: 15px;

          @include media(500) {
            font-size: 12px;
          }

          &-img {
            border-radius: 50%;
            width: 50px;
            height: 50px;

            @include media(500) {
              width: 30px;
              height: 30px;
            }

            & img {
              border-radius: 50%;
              width: 100%;
              height: 100%;
              object-fit: cover;

            }
          }
        }
      }

      &-img {
        position: absolute;
        top: -70px;
        right: 250px;
        width: 311px;
        height: 462px;
        border-radius: 10px;

        @include media(1600) {
          right: 100px;
        }

        @include media(1000) {
          position: static;
          margin: 0 auto;
          margin-top: 50px;
        }

        @include media(500) {
          width: 230px;
          height: 350px;
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;

        }
      }
    }

    &__main {
      padding: 50px;

      &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        flex-wrap: wrap;

        &-item {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 15px;

          &-name {
            color: #FFF;
            font-size: 22px;
            font-weight: 700;
            line-height: 30px;
          }

          &-span {
            color: #FFF;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
          }
        }
      }

      &__recommendations {
        margin-top: 50px;

        &__cards {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
          gap: 25px;
          flex-wrap: wrap;
          @include media(500) {
            gap: 10px;
          }

          &-item {
            border-radius: 10px;
            transition: 300ms;

            &-img {
              width: 311px;
              height: 462px;
              object-fit: fill;
              border-radius: 10px;

              @include media(930) {
                height: 400px;
                width: 262px;
              }
              @include media(670) {
                height: 300px;
                width: 200px;
              }
              @include media(460) {
                height: 170px;
                width: 111px;
              }
              @include media(386) {
                height: 140px;
                width: 92px;
              }
            }
          }

          &-item:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}